body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fdfdfd;
    margin: 0;
}
#card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 420px;
}
.card {
    width: 100;
    height: 100;
    background-color: #120101;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card.flipped {
    background-color: #2ecc71;
}
#match-count{
    align-items: center;
    font-size: 1em; 
}
#match{
    margin-left: 100px;
    align-items: center;
    font-size: 2.5em;
    color:#d94c0f;

}
h1{
    font-size: 3em;
    color: #1a1a1a;
    margin-top:20px;
}